:root {
    --clr-dark: #001116;
    --clr-dark-grey: #696d6f;
    --clr-grey: #9aa4a7;
    --clr-warning: #f28c1c;
    --clr-error: #e02727;
    --clr-light: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--clr-dark);
    margin-top: 1em;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    color: var(--clr-grey);
    margin-top: 0;
    /* letter-spacing: 0.03em; */
    line-height: 1.5em;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

main {
    height: 47.5rem;
    width: 25rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    will-change: transform;
}

video {
    height: 68%;
    object-fit: cover;
    background-color: var(--clr-dark);
}

section {
    min-height: 100%;
    overflow-y: scroll;
    padding: 1rem 2rem;
    border-radius: 1em;
    z-index: 1;
    background-color: var(--clr-light);
    box-shadow: 0px -5px 15px 3px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(65%);
    transition: border-radius 0.8s, transform 0.8s;
}
section > img {
    width: 25%;
    margin: 1rem auto 0;
    transition: width 0.8s;
}

/* ---- Zero State ---- */

section:not(.result) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1.zero {
    text-align: left;
    margin-top: 2rem;
}

button {
    padding: 0.75em 1.5em;
    border-radius: 2em;
    border: none;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.25rem;
    margin-top: 7.5rem;
    cursor: pointer;
    box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.1);
}

/* ---- Section opened ---- */

section.open {
    border-radius: 0;
    transform: translateY(0);
}

/* ---- Product found ---- */

section.result {
    cursor: pointer;
}

section.result::after {
    content: '';
    width: 2.5rem;
    height: 0.25rem;
    background-color: var(--clr-dark-grey);
    border-radius: 1em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 1rem auto;
}

section.result > img {
    width: 75%;
}

/* ---- States ---- */

.failed {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.failed img {
    width: 3rem;
    margin-right: 1rem;
}

.warning h1 {
    text-align: left;
    color: var(--clr-warning);
}

.error h1 {
    text-align: left;
    color: var(--clr-error);
}

@media only screen and (max-width: 740px) {
    main {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}
